{
  "parser": "babel-eslint",
    "extends": ["standard"],
    "parserOptions": {
      "ecmaVersion": 7
    },
    "rules":{
      "one-var": "off",
      "semi": "off",
      "camelcase": ["off", {properties: "never"}],
      "space-before-function-paren": "off",
      "padded-blocks": "off"
    },
    "globals": {
      "saasplat":{},
      "describe":{},
      "it":{},
      "before":{}
    }
}
